<form class="form mat-elevation-z8">
    <h1>Eliminando técnico</h1>
    <mat-form-field class="full-width">
        <mat-label>Nome</mat-label>
        <input [(ngModel)]="tecnico.nome" name="nome" disabled maxlength="100" matInput placeholder="Ex. Arsenio jose Soto">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Numero Doc.</mat-label>
        <input [(ngModel)]="tecnico.bi" name="bi" disabled maxlength="15" matInput placeholder="000.000.000-00">
    </mat-form-field>

    <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input [(ngModel)]="tecnico.telefone" disabled name="telefone" matInput maxlength="18" placeholder="Ex. (+258)-845-072-619">
    </mat-form-field>
    <button class="mat-elevation-z8" (click)="delete()" mat-stroked-button color="accent" title="Clique para eliminar">DELETAR</button>
    <button class="mat-elevation-z8" (click)="cancel()" mat-stroked-button color="warn" title="Clique para cancelar">CANCELAR</button>
</form>